<div style="background-color: black; padding: 70px;margin-top: 100px;"class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card" >
                <img src="assets/images/img1.1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">GYM</h5>
                    <p class="card-text">Send non-members valuable content via emails and persuade them to visit your gym with a discount or a trial period. 9. Weight loss Challenge  .</p>
                    
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/img3.1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">YOGA SESSION</h5>
                    <p class="card-text">Various styles of yoga combine physical postures, breathing techniques, and meditation or relaxation. In more recent years,In more recent years,</p>
                    
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/img3.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ZOOMBA SESSION</h5>
                    <p class="card-text">Find the perfect Zumba stock photos and editorial news pictures from Getty Images. Select from 3254 premium Zumba of the highest quality.
                    </p>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>