
<div style="margin-top: 100px;"class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img style="width: 100%;"src="assets/images/body1.jpg">
        </div>
        <div class="col-md-6">
<h1>About Us</h1>
       <p> Gold’s Gym has been the authority in fitness since 1965 dating back to the original Gold’s Gym in Venice, California. It was the place for serious fitness.Opened long before the modern day health club existed, the original Gold’s Gym featured homemade equipment and a dedication to getting results. It was an instant hit. Gold’s Gym quickly became known as “The Mecca of Bodybuilding.” In 1977, Gold’s Gym received international attention when it was featured in the movie Pumping Iron that starred Arnold Schwarzenegger and Lou Ferrigno. From that first gym in Venice, Gold’s Gym has become the largest co-ed gym chain in the world with over 701+ facilities in 30 countries.</p>
        </div>
    </div>
</div>